@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.mainmenu-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .cards {
    @include mixins.setwidthandheight(100%, unset);
    @include mixins.flexeddiv(row, space-between);
    flex-grow: 1;

    .card {
      @include mixins.setwidthandheight(40%, 100%);
      @include mixins.animation(all, 0.8s);
      @include mixins.setborderwithradius(2px solid white, 30px);
      z-index: 3;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 55%;
      cursor: pointer;

      &:hover {
        @include mixins.setborderwithradius(2px solid vars.$tercardcolor, 30px);
        box-shadow: 0 0 5px vars.$tercardcolor, 0 0 25px vars.$tercardcolor,
          0 0 50px vars.$tercardcolor, 0 0 100px vars.$tercardcolor;
      }
    }
  }
}
