@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.mainmenu-cards-container {
  @extend %fullwidth;
  @extend %fullheight;
  @extend %columnflex;
  @extend %spacebetweencontent;

  .cards {
    @extend %rowflex;
    @extend %spacebetweencontent;
    @extend %fullwidth;
    height: unset;
    flex-grow: 1;

    .card {
      @include mixins.setwidthandheight(40%, 100%);
      @include mixins.animation(all, 0.8s);
      @include mixins.setborderwithradius(2px solid white, 30px);
      @extend %pointer;
      @extend %centeredbackgroundwithnorepeat;
      z-index: 3;
      vertical-align: middle;
      background-size: 55%;

      &:hover {
        @include mixins.setborderwithradius(2px solid vars.$tercardcolor, 30px);
        box-shadow: 0 0 5px vars.$tercardcolor, 0 0 25px vars.$tercardcolor,
          0 0 50px vars.$tercardcolor, 0 0 100px vars.$tercardcolor;
      }
    }
  }
}
