@use 'styles/mixins' as mixins;

.player-container {
  @include mixins.animation(all, 1s);
  width: 0;
  height: 58%;

  .rhap_container {
    @include mixins.animation(all, 1s);
    width: 0;
    padding: 0;
  }

  .player {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    audio {
      width: 100%;
      margin: auto 0;
      outline: none;
    }
  }

  &.opened {
    width: 100%;

    .rhap_container {
      width: 100%;
      padding: 10px 15px;
      background-color: transparent;
    }
  }
}
