@mixin animation($type, $sec) {
  -webkit-transition: $type $sec ease-out;
  -moz-transition: $type $sec ease-out;
  -o-transition: $type $sec ease-out;
  -ms-transition: $type $sec ease-out;
  transition: $type $sec ease-out;
}

.player-container {
  width: 0;
  height: 58%;
  //border-bottom: 0px solid black;
  @include animation(all, 1s);

  .rhap_container {
    width: 0;
    padding: 0;
    @include animation(all, 1s);
  }

  .player {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    audio {
      width: 100%;
      margin: auto 0;
      outline: none;
    }
  }

  &.opened {
    width: 100%;

    .rhap_container {
      width: 100%;
      padding: 10px 15px;
    }
  }
}
