@use 'styles/common';
@use 'styles/mixins' as mixins;

.player-container {
  @extend %animate-short;
  width: 0;
  height: 58%;

  .rhap_container {
    @extend %animate-short;
    width: 0;
    padding: 0;
  }

  .player {
    @extend %fullwidth;
    @extend %fullheight;
    @extend %rowflex;
    @extend %spacebetweencontent;

    audio {
      @extend %fullwidth;
      margin: auto 0;
      outline: none;
    }
  }

  &.opened {
    @extend %fullwidth;

    .rhap_container {
      @extend %fullwidth;
      padding: 10px 15px;
      background-color: transparent;
    }
  }
}
