@use 'components/cards/card-styles.scss';

.card-signin {
  @extend %card-primary;

  form {
    margin: auto 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
  }
}
