@mixin animation($type, $sec) {
  -webkit-transition: $type $sec ease;
  -moz-transition: $type $sec ease;
  -o-transition: $type $sec ease;
  -ms-transition: $type $sec ease;
  transition: $type $sec ease;
}

@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.card-music {
  @include setwidthandheight(100%, 100%);
  background-color: #151527;
  @include setborderwithradius(2px solid #94dadc, 52px);
  @include flexeddiv(column, space-evenly);

  .card-big-cover-container {
    //@include setwidthandheight(60%, 50%);
    @include setwidthandheight(230px, 230px);
    @include setborderwithradius(2px solid #94dadc, 20px);
    overflow: hidden;
    margin: 0 auto;
    //background-color: rgb(212, 247, 248);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;

    img {
      @include setwidthandheight(100%, 100%);
    }

    @media screen and (orientation: portrait) {
      @include setwidthandheight(140px, 140px);
    }
  }

  .card-big-controls {
    @include flexeddiv(row, space-around);
    padding: 0 20px;
    vertical-align: middle;
    border-radius: 20%;

    .card-big-control {
      @include setwidthandheight(30%, 60px);
      vertical-align: middle;
      @include flexeddiv(row, center);

      div {
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 90% 90%;
        background-position: center;
        cursor: pointer;

        &:hover {
          background-size: 100% 100%;
        }
      }
    }
  }
}
