@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.review-main {
  @include mixins.setborderwithradius(1px solid vars.$seccardcolor, 8px);
  @include mixins.animation(all, 0.8s);
  @extend %rowflex;
  @extend %centtext;
  @extend %pointer;
  color: vars.$blankcolor;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 2px 5px;

  .review-container-main {
    @include mixins.animation(opacity, 2s);
    @extend %fullwidth;
    @extend %fullheight;
    @extend %columnflex;
    @extend %spacearoundcontent;
    border-radius: 100%;
    line-height: 200%;
    margin: 0;
    opacity: 100%;
  }

  &:hover {
    box-shadow: 0 0 5px vars.$seccardcolor, 0 0 25px vars.$seccardcolor,
      0 0 50px vars.$seccardcolor, 0 0 100px vars.$seccardcolor;
  }
}

.review-info {
  @include mixins.setborderwithradius(1px solid vars.$seccardcolor, 8px);
  @include mixins.animation(all, 1.4s);
  @extend %centtext;
  @extend %columnflex;
  @extend %spacearoundcontent;
  overflow: hidden;
  height: 18vh;
  color: vars.$blankcolor;
  padding: 10px 2px;
  margin-bottom: 10px;

  &.minified {
    @include mixins.setborderwithradius(0px solid black, 8px);
    height: 0;
    padding: 0;
  }

  textarea {
    @include mixins.setborderwithradius(1px solid black, 4px);
    height: 100px;
    overflow-y: auto;
    resize: none;
    margin-bottom: 10px;
  }

  .group {
    margin: 10px 0 10px 0;
    text-align: left;
  }
}
