@use '../../../styles/mixins' as mixins;

// The switch - the box around the slider
.switch {
  @include mixins.setwidthandheight(35px, 100%);
  position: relative;
  display: inline-block;
}

// Hide default HTML checkbox
.switch input {
  @include mixins.setwidthandheight(0, 0);
  opacity: 0;
}

// The slider
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  @include mixins.setwidthandheight(10px, 55%);
  position: absolute;
  content: '';
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}
