@mixin animation($type, $sec) {
  -webkit-transition: $type $sec ease;
  -moz-transition: $type $sec ease;
  -o-transition: $type $sec ease;
  -ms-transition: $type $sec ease;
  transition: $type $sec ease;
}

@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.main {
  @include setwidthandheight(100vw, 100vh);
  @include flexeddiv(column, unset);

  .toppart {
    background-color: linen;
    margin-bottom: 20px;
  }

  .main-part {
    @include setwidthandheight(100%, unset);
    flex-grow: 2;
    @include flexeddiv(row, space-between);

    .btn-back {
      @include setwidthandheight(50px, 50px);
      background-color: lightskyblue;
      @include setborderwithradius(1px solid black, 12px);
      position: absolute;
      margin-left: 20px;
      cursor: pointer;
      background-size: 70% 80%;
      background-position: center;
      background-repeat: no-repeat;

      &:hover {
        background-color: lightsalmon;
        background-image: url('http://localhost:3000/images/play.svg') !important;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
    }

    .main-space {
      @include setwidthandheight(80vw, unset);
      padding: 10% 0;

      .main-container {
        @include setwidthandheight(80%, 100%);
        margin: 0 auto;

        .cards-container {
          @include flexeddiv(column, space-between);
          @include setwidthandheight(100%, 100%);

          .auth {
            .card-big-primary, .card-big-secondary {
              @include setwidthandheight(55%, 55%);
              cursor: pointer;
            }
          }

          .card-center {
            @include setwidthandheight(100%, 5%);
            z-index: 3;

            .card-center-icon {
              @include setwidthandheight(6%, 85%);
              background-color: lightskyblue;
              margin: 0 auto;
              @include setborderwithradius(2px solid black, 100%);
              z-index: 3;
            }
          }

          .react-card-back {
            transform-style: flat !important;
          }
        }
      }
    }

    .rightpanel {
      @include setwidthandheight(20vw, 50vh);
      @include flexeddiv(column, unset);
      margin-right: 5px;
      font-size: 11pt;

      .news {
        background-color: lightsteelblue;
        @include setwidthandheight(unset, 50%);
        @include setborderwithradius(1px solid black, 8px);
      }
    }
  }

  .footer {
    @include setwidthandheight(100%, 20px);
    border-top: 1px solid black;
    background-color: lightgray;
  }
}
