@mixin animation($type, $sec) {
  -webkit-transition: $type $sec ease;
  -moz-transition: $type $sec ease;
  -o-transition: $type $sec ease;
  -ms-transition: $type $sec ease;
  transition: $type $sec ease;
}

@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.main {
  @include setwidthandheight(100vw, 100vh);
  @include flexeddiv(column, unset);

  .toppart {
    background-color: linen;
    margin-bottom: 20px;
  }

  .main-part {
    @include setwidthandheight(100%, unset);
    flex-grow: 2;
    @include flexeddiv(row, space-between);

    .main-space {
      @include setwidthandheight(80vw, unset);
      padding: 10% 0;

      .main-container {
        @include setwidthandheight(80%, 100%);
        margin: 0 auto;

        .cards-container {
          @include flexeddiv(column, space-between);
          @include setwidthandheight(100%, 100%);

          .card-big-container {
            @include setwidthandheight(100%, 100%);

            .card-big-blur {
              position: absolute;
              @include setwidthandheight(100%, 100%);
              @include setborderwithradius(unset, inherit);
              backdrop-filter: blur(10px);
              @include animation(backdrop-filter, 2s);
              cursor: pointer;

              &.disabled {
                backdrop-filter: unset;
                width: 0;
              }
            }

            .card-big-primary {
              @include setwidthandheight(50%, 60%);
              background-color: lightskyblue;
              @include setborderwithradius(2px solid black, 16%);
              position: absolute;
              @include flexeddiv(column, space-around);
              z-index: 6;
              @include animation(all, 2s);

              &.disabled {
                z-index: 5;
                transform: translate(20%, 10%);
              }

              .card-big-cover-container {
                @include setwidthandheight(60%, 50%);
                margin: 0 auto;

                img {
                  @include setwidthandheight(100%, 100%);
                }
              }

              .card-big-controls {
                @include flexeddiv(row, space-around);
                padding: 0 20px;
                vertical-align: middle;
                border-radius: 20%;

                .card-big-control {
                  @include setwidthandheight(30%, 100%);
                  vertical-align: middle;

                  img {
                    @include setwidthandheight(100%, 40%);
                    cursor: pointer;
                  }
                }
              }
            }

            .card-big-secondary {
              @include setwidthandheight(50%, 60%);
              background-color: lightsalmon;
              @include setborderwithradius(2px solid black, 16%);
              position: absolute;
              @include flexeddiv(unset, center);
              align-items: center;
              z-index: 6;
              @include animation(all, 2s);

              &.disabled {
                z-index: 5;
                transform: translate(20%, 10%);
              }

              .card-big-table {
                @include setwidthandheight(90%, 90%);
                @include setborderwithradius(unset, 3%);
                overflow-y: scroll;

                &::-webkit-scrollbar {
                  @include setwidthandheight(12px, unset);
                }

                &::-webkit-scrollbar-track {
                  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                  @include setborderwithradius(unset, 10px);
                }

                &::-webkit-scrollbar-thumb {
                  @include setborderwithradius(unset, 10px);
                  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
                }

                .track {
                  @include flexeddiv(row, space-between);
                  padding: 10px 20px;
                  border-bottom: 1px solid;

                  .track-info {
                    @include flexeddiv(column, space-around);
                  }

                  .track-duration {
                    vertical-align: middle;
                    border-radius: 100%;
                  }
                }
              }
            }
          }

          .card-center {
            @include setwidthandheight(100%, 5%);
            z-index: 3;

            .card-center-icon {
              @include setwidthandheight(6%, 85%);
              background-color: mediumpurple;
              margin: 0 auto;
              @include setborderwithradius(2px solid maroon, 100%);
              z-index: 3;
            }
          }

          .cards {
            @include setwidthandheight(100%, unset);
            flex-grow: 1;
            background-color: mediumspringgreen;
            @include flexeddiv(row, space-between);

            .card {
              @include setwidthandheight(40%, 100%);
              background-color: lightskyblue;
              z-index: 3;
              vertical-align: middle;
              @include setborderwithradius(2px solid black, 16%);

              .card-image-container {
                margin: 0 auto;
                @include setwidthandheight(150px, 100%);

                img {
                  @include setwidthandheight(100%, 100%);
                }
              }
            }
          }
        }
      }
    }

    .rightpanel {
      @include setwidthandheight(20vw, 50vh);
      @include flexeddiv(column, unset);
      margin-right: 5px;
      font-size: 11pt;

      .profile {
        background-color: limegreen;
        @include setborderwithradius(1px solid black, 8px);
        @include flexeddiv(column, unset);
        text-align: center;
        padding: 10px 0;
        margin-bottom: 10px;
        cursor: default;
        @include animation(all, 2s);

        .profile-info {
          @include flexeddiv(column, space-around);
          border-radius: 100%;

          .profile-info-minifying {
            @include animation(all, 2s);
          }
        }

        .profile-icon-container {
          margin: 0 auto;
          @include animation(all, 2s);

          img {
            @include setwidthandheight(70px, 70px);
            @include setborderwithradius(unset, 100%);
            @include animation(all, 2s);
          }

          .profile-info-minified {
            margin: 5px 0px;
            @include setwidthandheight(0, 0);
            opacity: 0;
          }
        }

        &.minified {
          text-align: center;
          border-radius: 30px;
          padding: 2px 5px;

          .profile-icon-container {
            margin: 0 0 0 0;
            @include flexeddiv(unset, space-around);

            .profile-info-minified {
              border-radius: 100%;
              line-height: 200%;
              margin: 0;
              @include setwidthandheight(100%, 100%);
              opacity: 100%;
              @include animation(opacity, 2s);
            }
          }

          img {
            @include setwidthandheight(30px, 30px);
            @include setborderwithradius(unset, 50%);
          }

          .profile-info {
            @include setwidthandheight(100%, unset);
            padding: 5px 0;

            .profile-info-minifying {
              border-radius: 0;
              opacity: 0%;
            }
          }
        }
      }

      .news {
        background-color: lightsteelblue;
        @include setwidthandheight(unset, 50%);
        @include setborderwithradius(1px solid black, 8px);
      }
    }
  }

  .footer {
    @include setwidthandheight(100%, 20px);
    border-top: 1px solid black;
    background-color: lightgray;
  }
}
