@use 'components/cards/card-styles.scss';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.card-playlist {
  @extend %card-secondary-base;
  @include mixins.flexeddiv(unset, center);
  align-items: center;
  margin: 28px 5px 0 2.5px;

  .card-big-table {
    @include mixins.setwidthandheight(90%, 90%);
    @include mixins.setborderwithradius(unset, 3%);
    overflow-y: auto;
    color: white;
  }

  &.radio {
    border-radius: 32px;
    height: 90%;
  }
}
