@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

.track {
  @include flexeddiv(row, space-between);
  padding: 10px 20px;
  border-bottom: 1px solid;
  cursor: pointer;
  height: 14%;

  &:hover {
    background-color: rgb(248, 196, 176);
  }

  .track-info {
    @include flexeddiv(column, space-around);
  }

  .track-duration {
    vertical-align: middle;
    border-radius: 100%;
  }

  &:hover {
    .track-menu {
      display: flex;
    }
  }

  .track-menu {
    width: 40%;
    right: 10%;
    height: inherit;
    position: absolute;
    display: none;
    justify-content: flex-end;
    flex-direction: row;

    .track-menu-item {
      background-color: lightskyblue;
      opacity: 0.8;
      border: 1px black solid;
      border-radius: 5px;
      width: 32%;
      height: 87%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 65% 70%;

      &:hover {
        opacity: 1;
      }
    }
  }
}
