@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.track {
  @extend %pointer;
  @extend %rowflex;
  @extend %spacebetweencontent;
  padding: 10px 20px;
  border-bottom: 1px solid;
  height: 60px;

  &:hover {
    background-color: vars.$seccardcolor;
  }

  .track-info {
    @extend %columnflex;
    @extend %spacearoundcontent;
  }

  .track-duration {
    width: 25%;
    text-align: right;
    vertical-align: middle;
    border-radius: 100%;
  }

  &:hover {
    .track-menu {
      @extend %rowflex;
    }
    .track-duration {
      display: none;
    }
  }

  .track-menu {
    @extend %flexendcontent;
    width: 40%;
    height: 60px;
    display: none;
    flex-direction: row;

    .track-menu-item {
      @extend %centeredbackgroundwithnorepeat;
      background-color: lightskyblue;
      opacity: 0.8;
      border: 1px solid vars.$filledcolor;
      border-radius: 5px;
      width: 32%;
      background-size: 65% 70%;

      &:hover {
        opacity: 1;
      }
    }
  }
}
