@mixin animation($type, $sec) {
  -webkit-transition: $type $sec ease;
  -moz-transition: $type $sec ease;
  -o-transition: $type $sec ease;
  -ms-transition: $type $sec ease;
  transition: $type $sec ease;
}

@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.card-playlist {
  @include setwidthandheight(100%, 100%);
  background-color: lightsalmon;
  @include setborderwithradius(2px solid black, 52px);
  @include flexeddiv(unset, center);
  align-items: center;

  .card-big-table {
    @include setwidthandheight(90%, 90%);
    @include setborderwithradius(unset, 3%);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      @include setwidthandheight(12px, unset);
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      @include setborderwithradius(unset, 10px);
    }

    &::-webkit-scrollbar-thumb {
      @include setborderwithradius(unset, 10px);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    .track {
      @include flexeddiv(row, space-between);
      padding: 10px 20px;
      border-bottom: 1px solid;

      .track-info {
        @include flexeddiv(column, space-around);
      }

      .track-duration {
        vertical-align: middle;
        border-radius: 100%;
      }
    }
  }
}
