@mixin animation($type, $sec) {
  -webkit-transition: $type $sec ease;
  -moz-transition: $type $sec ease;
  -o-transition: $type $sec ease;
  -ms-transition: $type $sec ease;
  transition: $type $sec ease;
}

@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.card-signin {
  @include setwidthandheight(100%, 100%);
  background-color: lightskyblue;
  @include setborderwithradius(2px solid black, 52px);
  @include flexeddiv(column, space-around);

}
