@use 'styles/common';

.lang-container {
  @extend %rowflex;

  .lang {
    margin: 0 10px;
    height: 50px;
    width: 50px;

    img {
      @extend %pointer;
      @extend %fullwidth;
      @extend %fullheight;
    }
  }
}
