@use 'components/cards/card-styles.scss';
@use 'styles/common';
@use 'styles/variables' as vars;

.card-signup {
  @extend %card-secondary;

  form {
    @extend %columnflex;
    @extend %spacearoundcontent;
    margin: auto 15%;
    height: 95%;

    .error {
      @extend %centtext;
      @extend %fullwidth;
      color: vars.$exclamationcolor;
      font-style: italic;
    }
  }
}
