@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.card-ai {
  @include setwidthandheight(100%, 100%);
  @include setborderwithradius(2px solid #609ae4, 52px);
  background-color: #151527;
  @include flexeddiv(column, space-around);

  .card-ai-switch {
    @include flexeddiv(row, space-evenly);
    color: #94dadc;
  }
}
