@use 'styles/common';
@use 'styles/variables' as vars;

.notification-container {
  @extend %columnflex;
  margin: 20px;
  color: vars.$blankcolor;
  opacity: 1;
  transition: opacity 0.6s;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 20vw;

  .notification {
    margin: 5px 0;
    padding: 10px;
    border-radius: 2px;
    opacity: 0.87;
    transition: 0.5s;
    position: relative;
    min-width: 130px;

    &:hover {
      opacity: 1;
    }

    &.closing {
      opacity: 0;
    }

    .notification-content {
      @extend %rowflex;
      @extend %spacebetweencontent;
      cursor: default;

      .notification-close {
        @extend %pointer;
        font-size: 22px;
        line-height: 15px;
        font-weight: bold;
        transition: 0.3s;

        &:hover {
          color: vars.$filledcolor;
        }
      }
    }

    &.error {
      background-color: vars.$tercardcolor;
    }

    &.warning {
      background-color: rgb(255, 212, 172);
    }

    &.information {
      background-color: vars.$seccardcolor;
    }

    &.success {
      background-color: vars.$primcardcolor;
    }

    @media screen and (orientation: portrait) {
      min-width: 80px;
    }
  }
}
