@mixin animation($type, $sec) {
  -webkit-transition: $type $sec ease;
  -moz-transition: $type $sec ease;
  -o-transition: $type $sec ease;
  -ms-transition: $type $sec ease;
  transition: $type $sec ease;
}

@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.profile-main {
  background-color: limegreen;
  @include setborderwithradius(1px solid black, 8px);
  @include flexeddiv(row, unset);
  text-align: center;
  margin-bottom: 10px;
  cursor: default;
  border-radius: 8px;
  padding: 2px 5px;
  cursor: pointer;

  .profile-info-main {
    @include flexeddiv(column, space-around);
    border-radius: 100%;
    line-height: 200%;
    margin: 0;
    @include setwidthandheight(100%, 100%);
    opacity: 100%;
    @include animation(opacity, 2s);
    word-break: break-word;
  }

  .profile-icon-container {
    margin: 0 0 0 0;
    @include flexeddiv(column, center);

    img {
      @include animation(all, 2s);
      @include setwidthandheight(30px, 30px);
      @include setborderwithradius(unset, 50%);
    }
  }
}

.profile-info {
  background-color: limegreen;
  @include setborderwithradius(1px solid black, 8px);
  @include flexeddiv(column, space-around);
  text-align: center;
  padding: 10px 2px;
  margin-bottom: 10px;
  cursor: default;
  @include animation(all, 1.4s);
  overflow: hidden;
  height: 85px;
  cursor: pointer;

  &.minified {
    height: 0;
    padding: 0;
    @include setborderwithradius(0px solid black, 8px);
  }
}
