@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.profile-main {
  @include mixins.setborderwithradius(1px solid vars.$primcardcolor, 8px);
  @include mixins.flexeddiv(row, unset);
  @include mixins.animation(all, 0.8s);
  color: white;
  text-align: center;
  margin-bottom: 10px;
  cursor: default;
  border-radius: 8px;
  padding: 2px 5px;
  cursor: pointer;

  .profile-info-main {
    @include mixins.flexeddiv(column, space-around);
    border-radius: 100%;
    line-height: 200%;
    margin: 0;
    @include mixins.setwidthandheight(100%, 100%);
    opacity: 100%;
    @include mixins.animation(opacity, 2s);
    word-break: break-word;
  }

  .profile-icon-container {
    margin: 0 0 0 0;
    @include mixins.flexeddiv(column, center);

    img {
      @include mixins.animation(all, 2s);
      @include mixins.setwidthandheight(30px, 30px);
      @include mixins.setborderwithradius(unset, 50%);
    }
  }

  &:hover {
    box-shadow: 0 0 5px vars.$primcardcolor, 0 0 25px vars.$primcardcolor,
      0 0 50px vars.$primcardcolor, 0 0 100px vars.$primcardcolor;
  }
}

.profile-info {
  @include mixins.setborderwithradius(1px solid vars.$primcardcolor, 8px);
  @include mixins.flexeddiv(column, space-around);
  @include mixins.animation(all, 0.8s);
  text-align: center;
  color: white;
  padding: 10px 2px;
  margin-bottom: 10px;
  cursor: default;
  overflow: hidden;
  height: 12vh;
  cursor: pointer;

  &.minified {
    @include mixins.setborderwithradius(0px solid black, 8px);
    height: 0;
    padding: 0;
  }

  &:hover {
    box-shadow: 0 0 5px vars.$primcardcolor, 0 0 25px vars.$primcardcolor,
      0 0 50px vars.$primcardcolor, 0 0 100px vars.$primcardcolor;
  }
}

.profile-panel {
  .small-btn {
    @include mixins.setwidthandheight(32px, 32px);
    margin-top: 0;
    right: 10px;
    margin-right: 15%;
    z-index: 0;
    border-radius: 9px;

    @media screen and (orientation: portrait) {
      right: 18%;
    }
  }
}
