@mixin animation($type, $sec) {
  -webkit-transition: $type $sec ease;
  -moz-transition: $type $sec ease;
  -o-transition: $type $sec ease;
  -ms-transition: $type $sec ease;
  transition: $type $sec ease;
}

@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.card-admin {
  @include setwidthandheight(45vw, 80vh);
  @include flexeddiv(column, center);
  @include animation(left, 2s);
  border-radius: 30px;
  min-width: 717px;
  background-color: #151527;
  position: absolute;
  top: 18%;
  left: -100%;

  .card-admin-main {
    @include setwidthandheight(100%, 90%);
    @include flexeddiv(row, space-between);
    bottom: 0;
    position: absolute;

    .card-search {
      @include setborderwithradius(2px solid #609ae4, 30px);
      height: 90%;
      margin: 28px 2.5px 0 5px;
    }

    @media screen and (orientation: portrait) {
      width: 55%;
    }
  }

  &.expanded {
    @include animation(left, 1s);
    left: 2%;

    @media screen and (orientation: portrait) {
      left: 0%;
    }
  }

  @media screen and (orientation: portrait) {
    left: -200%;
  }
}

.admin-btn-back {
  @include animation(box-shadow, 0.3s);
  box-shadow: 0 0 5px #609ae4, 0 0 25px #609ae4;
  @include setwidthandheight(55px, 55px);
  background-color: #609ae4;
  @include setborderwithradius(1px solid #609ae4, 12px);
  position: absolute;
  left: 20px;
  top: 1px;
  cursor: pointer;
  background-size: 70% 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('http://localhost:3000/images/play.svg');
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

  &:hover {
    background-color: pink;
    border: 1px solid pink;
    box-shadow: 0 0 5px pink, 0 0 25px pink, 0 0 50px pink;
  }
}
