@mixin animation($type, $sec) {
  -webkit-transition: $type $sec ease;
  -moz-transition: $type $sec ease;
  -o-transition: $type $sec ease;
  -ms-transition: $type $sec ease;
  transition: $type $sec ease;
}

@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.card-admin {
  @include setwidthandheight(76vw, 75vh);
  @include setborderwithradius(2px solid black, 52px);
  @include flexeddiv(column, center);
  @include animation(left, 2s);
  background-color: linen;
  position: absolute;
  top: 20%;
  left: -100%;

  .card-admin-main {
    @include setwidthandheight(100%, 90%);
    @include flexeddiv(row, space-between);

    .card-search {
      @include setborderwithradius(2px solid black, 30px);
      margin: 0 2.5px 0 5px;
    }
  }

  &.expanded {
    @include animation(left, 1s);
    left: 2%;
  }
}
