@use '../../../styles/base';

.btn-back {
  @include animation(box-shadow, 0.3s);
  @include setwidthandheight(55px, 55px);
  @include setborderwithradius(1px solid $seccardcolor, 12px);
  box-shadow: 0 0 5px $seccardcolor, 0 0 25px $seccardcolor;
  position: absolute;
  margin-left: 3%;
  cursor: pointer;
  background-size: 70% 80%;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-color: pink;
    border: 1px solid pink;
    background-image: url('http://localhost:3000/images/play.svg') !important;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    box-shadow: 0 0 5px pink, 0 0 25px pink, 0 0 50px pink;
  }
}
