@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.btn-back {
  @include mixins.animation(box-shadow, 0.3s);
  @include mixins.setwidthandheight(55px, 55px);
  @include mixins.setborderwithradius(1px solid vars.$seccardcolor, 12px);
  @extend %pointer;
  @extend %centeredbackgroundwithnorepeat;
  box-shadow: 0 0 5px vars.$seccardcolor, 0 0 25px vars.$seccardcolor;
  position: absolute;
  margin-left: 3%;
  background-size: 70% 80%;

  &:hover {
    background-color: vars.$tercardcolor;
    border: 1px solid vars.$tercardcolor;
    background-image: url('http://localhost:3000/images/play.svg') !important;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    box-shadow: 0 0 5px vars.$tercardcolor, 0 0 25px vars.$tercardcolor,
      0 0 50px vars.$tercardcolor;
  }
}
