.btn-back {
  width: 50px;
  height: 50px;
  background-color: lightskyblue;
  border: 1px solid black;
  border-radius: 12px;
  position: absolute;
  margin-left: 20px;
  cursor: pointer;
  background-size: 70% 80%;
  background-position: center;
  background-repeat: no-repeat;

  &:hover {
    background-color: lightsalmon;
    background-image: url('http://localhost:3000/images/play.svg') !important;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
