@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.custombutton {
  @include mixins.setborderwithradius(2px solid vars.$primcardcolor, 6px);
  @include mixins.animation(all, 0.5s);
  @extend %pointer;
  @extend %rowflex;
  @extend %fullwidth;
  @extend %centercontent;
  height: auto;
  letter-spacing: 0.5px;
  line-height: 26px;
  padding: 0 10%;
  background-color: vars.$primcardcolor;
  color: vars.$filledcolor;
  font-size: 11pt;

  &:hover {
    background-color: transparent;
    color: vars.$primcardcolor;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:disabled {
    background-color: rgb(78, 78, 78);
    color: rgb(158, 158, 158);
    border: 2px solid rgb(78, 78, 78);
    cursor: not-allowed;
  }

  &.abort {
    background-color: vars.$tercardcolor;
    border: 2px solid vars.$tercardcolor;

    &:hover {
      background-color: transparent;
      color: vars.$tercardcolor;
    }
  }
}
