@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

%shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: vars.$primcardcolor;
}

.group {
  position: relative;

  .forminput {
    @extend %fullwidth;
    background: none;
    background-color: vars.$blankcolor;
    color: vars.$filledcolor;
    font-size: 15px;
    padding: 6px 0;
    display: block;
    border: none;
    border-radius: 6px;
    border-bottom: 1px solid vars.$filledcolor;

    &.ord {
      &:focus {
        outline: none;
      }

      &:focus ~ .forminputlabel {
        @extend %shrinkLabel;
      }

      &:disabled {
        background-color: transparent;
        border: none;
        color: vars.$seccardcolor;
      }
    }

    &.border {
      @extend %pointer;
      border: 1px solid vars.$filledcolor;
    }

    &.file {
      @extend %pointer;
      @extend %fullwidth;
      background: none;
      background-color: vars.$blankcolor;
      color: vars.$filledcolor;
      padding: 6px 0;
      display: block;
      border: none;
      border-radius: 6px;
      border-bottom: 1px solid vars.$filledcolor;
      font-size: 15px;
      position: absolute;
      padding: 3px 0;
      opacity: 0;
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .forminputlabel {
    color: vars.$filledcolor;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 5px;
    transition: 300ms ease all;

    &.shrink {
      @extend %shrinkLabel;
    }
  }
}

::-webkit-file-upload-button {
  @extend %pointer;
}
