@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.card-signup {
  @include mixins.setwidthandheight(100%, 100%);
  @include mixins.setborderwithradius(2px solid vars.$seccardcolor, 52px);
  @include mixins.flexeddiv(column, space-around);
  background-color: vars.$cardbackcolor;

  form {
    margin: auto 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95%;

    .error {
      width: 100%;
      text-align: center;
      color: red;
      font-style: italic;
    }
  }
}
