@mixin animation($type, $sec) {
  -webkit-transition: $type $sec ease;
  -moz-transition: $type $sec ease;
  -o-transition: $type $sec ease;
  -ms-transition: $type $sec ease;
  transition: $type $sec ease;
}

@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.card-signup {
  @include setwidthandheight(100%, 100%);
  background-color: #151527;
  @include setborderwithradius(2px solid #609ae4, 52px);
  @include flexeddiv(column, space-around);

  form {
    margin: auto 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95%;

    .error {
      width: 100%;
      text-align: center;
      color: red;
      font-style: italic;
    }
  }
}
