@mixin animation($type, $sec) {
  -webkit-transition: $type $sec ease;
  -moz-transition: $type $sec ease;
  -o-transition: $type $sec ease;
  -ms-transition: $type $sec ease;
  transition: $type $sec ease;
}

@mixin animationwithdelay($type, $sec, $cd) {
  -webkit-transition: $type $sec ease $cd;
  -moz-transition: $type $sec ease $cd;
  -o-transition: $type $sec ease $cd;
  -ms-transition: $type $sec ease $cd;
  transition: $type $sec ease $cd;
}

@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.card-search {
  @include setwidthandheight(100%, 100%);
  background-color: lightsalmon;
  @include setborderwithradius(2px solid black, 52px);
  @include flexeddiv(column, flex-start);
  align-items: center;
  @include animation(all, 5s);

  .placeholder {
    width: 100%;
    height: 46%;
    @include animation(all, 5s);
  }

  &.searched {
    @include flexeddiv(column, flex-start);

    .placeholder {
      height: 0;
    }

    .searchbar {
      @include setwidthandheight(100%, 8%);
      @include animation(all, 2.5s);
      border-radius: 0;
      border-top: 0px solid black;
      border-left: 0px solid black;
      border-right: 0px solid black;
      border-bottom: 2px solid black;

      .searchbar-image {
        margin-left: 3%;
      }

      .searchbar-query {
        width: 75%;

        input {
          width: 90%;
        }
      }
    }
  }

  .searchbar {
    width: 90%;
    height: 50px;
    border: 2px black solid;
    border-radius: 15px;
    text-align: center;
    display: flex;
    @include animationwithdelay(all, 2.5s, 0.5s);

    .searchbar-image {
      height: 100%;
      width: 20%;
      border-right: 1px solid black;
      @include animation(all, 5s);
      -webkit-appearance: div;
      -moz-appearance: div;
      appearance: div;

      .searchbar-image-button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
      }
    }

    .searchbar-query {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include animation(all, 5s);

      input {
        width: 90%;
        height: 65%;
        border: 0;
        font-size: x-large;
        outline: none;
        background-color: transparent;
      }
    }
  }

  .card-big-table {
    @include setwidthandheight(90%, 90%);
    @include setborderwithradius(unset, 3%);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      @include setwidthandheight(12px, unset);
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      @include setborderwithradius(unset, 10px);
    }

    &::-webkit-scrollbar-thumb {
      @include setborderwithradius(unset, 10px);
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }

    .track {
      @include flexeddiv(row, space-between);
      padding: 10px 20px;
      border-bottom: 1px solid;

      .track-info {
        @include flexeddiv(column, space-around);
      }

      .track-duration {
        vertical-align: middle;
        border-radius: 100%;
      }
    }
  }
}
