@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

canvas {
  border: 1px black solid;
  @include setwidthandheight(100%, 100px);
}

.preview-audio {
  @include setwidthandheight(100%, 30px);
}

.suggested-points-container {
  display: flex;
  flex-direction: column;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;

  .suggested-point {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 3px 0;
    margin-bottom: 5px;
    background-color: rgb(245, 141, 100);
    border: 1px solid black;

    input {
      width: 40%;
    }

    .switch-button {
      background-color: #2196f3;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;
      width: 35px;
      cursor: pointer;
      border: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
