@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

canvas {
  @extend %fullwidth;
  height: 100px;
  border: 1px solid vars.$filledcolor;
}

.preview-audio {
  @extend %fullwidth;
  height: 30px;
}

.suggested-points-container {
  @extend %columnflex;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;

  .suggested-point {
    @extend %fullwidth;
    @extend %rowflex;
    @extend %spacearoundcontent;
    padding: 7px 0 3px 0;
    margin-bottom: 5px;
    border-top: 1px solid vars.$primcardcolor;

    input {
      width: 40%;
    }

    .switch-button {
      @extend %pointer;
      @extend %centeredbackgroundwithnorepeat;
      background-color: #2196f3;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;
      width: 35px;
      border: 0;
      background-size: contain;
    }
  }
}
