@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.user-item {
  @extend %pointer;
  @extend %rowflex;
  @extend %spacebetweencontent;
  padding: 10px 20px;
  border-bottom: 1px solid;
  height: 60px;

  &:hover {
    background-color: vars.$seccardcolor;
  }

  .user-search-info {
    @extend %columnflex;
    @extend %spacearoundcontent;
    width: 40%;
    .user {
      &.admin {
        color: vars.$tercardcolor;
      }
      &.subscribed {
        color: vars.$primcardcolor;
      }
    }
  }

  .user-duration {
    width: 25%;
    text-align: right;
    vertical-align: middle;
    border-radius: 100%;
  }

  &:hover {
    .user-menu {
      @extend %rowflex;
      @extend %flexendcontent;
    }
    .user-duration {
      display: none;
    }
  }

  .user-menu {
    @include mixins.setwidthandheight(fit-content, 60px);
    @include mixins.setborderwithradius(1px vars.$primcardcolor solid, 5px);
    display: none;
    background-color: vars.$primcardcolor;
    opacity: 0.8;
    padding-left: 2px;

    .user-menu-text {
      @extend %fullheight;
      @extend %columnflex;
      @extend %centercontent;
      max-width: 130px;
    }

    .user-menu-item {
      @extend %columnflex;
      @extend %centercontent;
      @extend %centeredbackgroundwithnorepeat;
      width: 40px;
      background-size: 80% 80%;
      color: vars.$blankcolor;
    }

    &:hover {
      background-color: vars.$tercardcolor;
      border: 1px vars.$tercardcolor solid;
    }
  }
}
