@use 'components/cards/card-styles.scss';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.card-playlist {
  @extend %card-secondary-base;
  @include mixins.flexeddiv(unset, center);
  align-items: center;

  .card-big-table {
    @include mixins.setwidthandheight(90%, 90%);
    @include mixins.setborderwithradius(unset, 3%);
    overflow-y: auto;
    color: white;
  }
}
