@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.user-main {
  @include mixins.setborderwithradius(1px solid vars.$primcardcolor, 8px);
  @include mixins.animation(all, 0.8s);
  @extend %centtext;
  @extend %pointer;
  @extend %rowflex;
  color: vars.$blankcolor;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 2px 5px;

  .user-info-main {
    @include mixins.animation(opacity, 2s);
    @extend %fullwidth;
    @extend %fullheight;
    @extend %columnflex;
    @extend %spacearoundcontent;
    border-radius: 100%;
    line-height: 200%;
    margin: 0;
    opacity: 1;
    word-break: break-word;
  }

  .user-icon-container {
    @extend %columnflex;
    @extend %centercontent;
    margin: 0 0 0 0;

    img {
      @include mixins.setwidthandheight(30px, 30px);
      @include mixins.setborderwithradius(unset, 50%);
      @extend %animate-long;
      background-color: vars.$primcardcolor;
    }
  }

  &:hover {
    box-shadow: 0 0 5px vars.$primcardcolor, 0 0 25px vars.$primcardcolor,
      0 0 50px vars.$primcardcolor, 0 0 100px vars.$primcardcolor;
  }
}

.user-info {
  @include mixins.setborderwithradius(1px solid vars.$primcardcolor, 8px);
  @include mixins.animation(all, 0.8s);
  @extend %centtext;
  @extend %pointer;
  @extend %columnflex;
  @extend %spacearoundcontent;
  color: vars.$blankcolor;
  padding: 10px 2px;
  margin-bottom: 10px;
  overflow: hidden;
  height: 12vh;

  &.minified {
    @include mixins.setborderwithradius(0px solid black, 8px);
    height: 0;
    padding: 0;
  }

  &:hover {
    box-shadow: 0 0 5px vars.$primcardcolor, 0 0 25px vars.$primcardcolor,
      0 0 50px vars.$primcardcolor, 0 0 100px vars.$primcardcolor;
  }
}

.user-panel {
  .small-btn {
    @include mixins.setwidthandheight(32px, 32px);
    margin-top: 0;
    right: 10px;
    margin-right: 15%;
    z-index: 0;
    border-radius: 9px;

    @media screen and (orientation: portrait) {
      right: 18%;
    }
  }
}
