@mixin animation($type, $sec) {
  -webkit-transition: $type $sec ease;
  -moz-transition: $type $sec ease;
  -o-transition: $type $sec ease;
  -ms-transition: $type $sec ease;
  transition: $type $sec ease;
}

@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.card-profile {
  @include setwidthandheight(70vw, 75vh);
  @include setborderwithradius(2px solid black, 52px);
  @include flexeddiv(row, center);
  @include animation(left, 2s);
  background-color: rgb(115, 107, 235);
  position: absolute;
  top: 20%;
  left: -100%;

  .card-profile-main {
    @include flexeddiv(column, space-evenly);
    @include setwidthandheight(70%, 100%);

    .card-profile-image {
      width: 130px;
      height: 130px;
      margin: 0 auto;
      border-radius: 50%;
      border: 3px solid black;
      overflow: hidden;
      img {
        @include setwidthandheight(100%, 100%);
      }
    }

    .profile-info-main {
      @include flexeddiv(column, space-around);
      height: 83%;
      text-align: center;
    }

    .forminput {
      margin: 16px 0;
    }

    .custombutton {
      height: 30px;
      line-height: 30px;
    }
  }

  &.expanded {
    @include animation(left, 1s);
    left: 5%;
  }
}
