@use '../../styles/base';

.card-profile {
  @include setwidthandheight(45vw, 75vh);
  @include setborderwithradius(2px solid $seccardcolor, 52px);
  @include flexeddiv(row, center);
  @include animation(left, 2s);
  background-color: $cardbackcolor;
  position: absolute;
  top: 20%;
  left: -100%;

  .card-profile-main {
    @include flexeddiv(column, space-evenly);
    @include setwidthandheight(90%, 100%);

    .card-profile-image {
      width: 130px;
      height: 130px;
      margin: 0 auto;
      border-radius: 50%;
      border: 3px solid black;
      overflow: hidden;
      img {
        @include setwidthandheight(100%, 100%);
      }
    }

    .profile-info-main {
      @include flexeddiv(column, space-around);
      height: 100%;
      text-align: center;

      .profile-info-main-columns {
        @include flexeddiv(row, space-evenly);
        height: 100%;

        .forminput.file {
          margin: 0;
        }
      }

      .subscription-container {
        @include flexeddiv(row, center);
        height: 100%;

        .subscription {
          width: 60%;

          .custombutton {
            margin: 8px 0 10px 0;
          }
        }
      }
    }

    .forminput {
      margin: 16px 0;
    }

    .custombutton {
      margin: 16px 0;
    }
  }

  &.expanded {
    @include animation(left, 1s);
    left: 5%;
  }

  @media screen and (orientation: portrait) {
    width: 90%;
  }
}

.buttons {
  @include flexeddiv(column, space-evenly);
  height: 80px;
}
