@use '../../styles/base';

.card-admin-main-addtrack {
  @include setwidthandheight(100%, 90%);
  @include setborderwithradius(2px solid $primcardcolor, 30px);
  @include flexeddiv(unset, center);
  background-color: $cardbackcolor;
  align-items: center;
  margin: 28px 5px 0 2.5px;

  .forminput {
    @include setborderwithradius(1px solid $primcardcolor, 4px);
    margin: 16px 0;
    border-color: hsl(0, 0%, 80%);
    padding: 10px 0;
  }

  .forminputlabel {
    left: 12px;
    top: 10px;
  }

  .forminput-select {
    margin: 16px 0;
  }
}
