@use '../../styles/base';

.react-card-back {
  transform-style: flat !important;
}

.card-big-container {
  @include setwidthandheight(100%, 100%);

  .card-big-primary {
    @include setwidthandheight(90%, 80%);
    @include animation(all, 2s);
    position: absolute;
    z-index: 6;

    &.disabled {
      z-index: 5;
      transform: translate(20%, 10%);
    }
  }

  .card-big-secondary {
    @include setwidthandheight(90%, 80%);
    @include animation(all, 2s);
    position: absolute;
    z-index: 6;
    background-color: transparent;

    &.disabled {
      z-index: 5;
      transform: translate(20%, 10%);
    }
  }

  .card-big-blur {
    @include setwidthandheight(100%, 100%);
    @include setborderwithradius(unset, 52px);
    @include animation(backdrop-filter, 2s);
    position: absolute;
    backdrop-filter: blur(10px);
    cursor: pointer;

    &.disabled {
      @include animationwithdelay(all, 0.1s, 0.5s);
      backdrop-filter: unset;
      width: 0;
    }
  }
}
