@use '../../styles/mixins' as mixins;

.react-card-back {
  transform-style: flat !important;
}

.card-big-container {
  @include mixins.setwidthandheight(100%, 100%);

  .card-big-primary {
    @include mixins.setwidthandheight(90%, 80%);
    @include mixins.animation(all, 2s);
    position: absolute;
    z-index: 6;

    &.disabled {
      z-index: 5;
      transform: translate(20%, 10%);
    }
  }

  .card-big-secondary {
    @include mixins.setwidthandheight(90%, 80%);
    @include mixins.animation(all, 2s);
    position: absolute;
    z-index: 6;
    background-color: transparent;

    &.disabled {
      z-index: 5;
      transform: translate(20%, 10%);
    }
  }

  .card-big-blur {
    @include mixins.setwidthandheight(100%, 100%);
    @include mixins.setborderwithradius(unset, 52px);
    @include mixins.animation(backdrop-filter, 2s);
    position: absolute;
    backdrop-filter: blur(10px);
    cursor: pointer;

    &.disabled {
      @include mixins.animationwithdelay(all, 0.1s, 0.5s);
      backdrop-filter: unset;
      width: 0;
    }
  }
}
