@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.card-user {
  @include mixins.setwidthandheight(45vw, 75vh);
  @include mixins.setborderwithradius(2px solid vars.$seccardcolor, 52px);
  @include mixins.flexeddiv(row, center);
  @include mixins.animation(left, 2s);
  background-color: vars.$cardbackcolor;
  position: absolute;
  top: 20%;
  left: -100%;

  .card-user-main {
    @include mixins.flexeddiv(column, space-evenly);
    @include mixins.setwidthandheight(90%, 100%);

    .card-user-image {
      width: 130px;
      height: 130px;
      margin: 0 auto;
      border-radius: 50%;
      border: 3px solid black;
      overflow: hidden;
      img {
        @include mixins.setwidthandheight(100%, 100%);
      }
    }

    .user-info-main {
      @include mixins.flexeddiv(column, space-around);
      height: 100%;
      text-align: center;

      .user-info-main-columns {
        @include mixins.flexeddiv(row, space-evenly);
        height: 100%;

        .forminput.file {
          margin: 0;
        }
      }

      .subscription-container {
        @include mixins.flexeddiv(row, center);
        height: 100%;

        .subscription {
          width: 60%;

          .custombutton {
            margin: 8px 0 10px 0;
          }
        }
      }
    }

    .forminput {
      margin: 16px 0;
    }

    .custombutton {
      margin: 16px 0;
    }
  }

  &.expanded {
    @include mixins.animation(left, 1s);
    left: 5%;
  }

  @media screen and (orientation: portrait) {
    width: 90%;
  }
}

.buttons {
  @include mixins.flexeddiv(column, space-evenly);
  height: 80px;
}
