@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.card-user {
  @include mixins.setwidthandheight(45vw, 75vh);
  @include mixins.setborderwithradius(2px solid vars.$seccardcolor, 52px);
  @include mixins.animation(left, 2s);
  @extend %rowflex;
  @extend %centercontent;
  background-color: vars.$cardbackcolor;
  position: absolute;
  top: 20%;
  left: -100%;

  .card-user-main {
    @include mixins.setwidthandheight(90%, 100%);
    @extend %columnflex;
    @extend %spaceevenlycontent;

    .card-user-image {
      @extend %hor-cent-block;
      @include mixins.setwidthandheight(130px, 130px);
      border-radius: 50%;
      border: 3px solid vars.$filledcolor;
      overflow: hidden;
      img {
        @extend %fullwidth;
        @extend %fullheight;
      }
    }

    .user-info-main {
      @extend %centtext;
      @extend %fullheight;
      @extend %columnflex;
      @extend %spacearoundcontent;

      .user-info-main-columns {
        @extend %fullheight;
        @extend %rowflex;
        @extend %spaceevenlycontent;

        .forminput.file {
          margin: 0;
        }
      }

      .subscription-container {
        @extend %fullheight;
        @extend %rowflex;
        @extend %centercontent;

        .subscription {
          width: 60%;

          .custombutton {
            margin: 8px 0 10px 0;
          }
        }
      }
    }

    .forminput {
      margin: 16px 0;
    }

    .custombutton {
      margin: 16px 0;
    }
  }

  &.expanded {
    @include mixins.animation(left, 1s);
    left: 5%;
  }

  @media screen and (orientation: portrait) {
    width: 90%;
  }
}

.buttons {
  @extend %columnflex;
  @extend %spaceevenlycontent;
  height: 80px;
}
