@use 'components/cards/card-styles.scss';
@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

%appearance {
  -webkit-appearance: div;
  -moz-appearance: div;
  appearance: div;
}

.card-search {
  @extend %card-secondary-base;
  @extend %animate-long;
  @extend %columnflex;
  @extend %centeritems;
  @extend %flexstartcontent;
  overflow: hidden;

  .placeholder {
    @extend %animate-long;
    @extend %fullwidth;
    height: 46%;
  }

  &.searched {
    @extend %columnflex;
    @extend %flexstartcontent;
    overflow-y: hidden;

    .placeholder {
      height: 0;
    }

    .searchbar {
      @include mixins.setborderwithradius(0px solid vars.$seccardcolor, 0);
      @extend %animate-short;
      @extend %fullwidth;
      height: 8%;
      border-bottom: 2px solid vars.$seccardcolor;

      .searchbar-image {
        margin-left: 3%;
      }

      .searchbar-query {
        width: 75%;

        input {
          width: 90%;
          color: vars.$seccardcolor;
        }
      }
    }
  }

  .searchbar {
    @include mixins.setwidthandheight(90%, 50px);
    @include mixins.setborderwithradius(2px solid vars.$seccardcolor, 15px);
    @extend %animate-short;
    @extend %centtext;
    @extend %rowflex;

    .searchbar-image {
      @include mixins.setwidthandheight(20%, 100%);
      @extend %animate-long;
      @extend %appearance;
      border-right: 1px solid vars.$seccardcolor;

      .searchbar-image-button {
        @extend %fullwidth;
        @extend %fullheight;
        @extend %pointer;
        background-color: transparent;
        border: 0;
        outline: none;
      }
    }

    .searchbar-query {
      @extend %animate-long;
      @extend %fullwidth;
      @extend %fullheight;
      @extend %rowflex;
      @extend %centeritems;
      @extend %centercontent;

      input {
        @include mixins.setwidthandheight(90%, 65%);
        color: vars.$seccardcolor;
        border: 0;
        font-size: x-large;
        outline: none;
        background-color: transparent;
      }
    }
  }

  .searchlist {
    @extend %animate-short;
    @extend %fullwidth;
    height: 0;

    &.searched {
      @extend %animate-short;
      @extend %fullheight;

      .searchlist-buttons {
        @extend %rowflex;
        @extend %spacearoundcontent;
      }
    }

    .searchlist-buttons {
      @extend %fullwidth;
      height: 10%;
      border-bottom: vars.$seccardcolor solid 2px;
      display: none;
      color: vars.$blankcolor;

      .button {
        @extend %pointer;
        @extend %columnflex;
        @extend %centeritems;
        @extend %centercontent;
        width: 80px;
        margin: 5px 0px;
        border-radius: 8px;

        &:hover {
          color: vars.$tercardcolor;
        }

        &.selected {
          color: vars.$tercardcolor;
          font-weight: bold;
        }
      }
    }
    .searchlist-list {
      @extend %fullwidth;
      height: 90%;
      color: vars.$blankcolor;

      .searchlist-results {
        overflow-y: auto;
        overflow-x: hidden;
        margin: 10px 0px;
        height: 80%;
      }
    }
  }
}
