.header {
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  background-color: linen;

  .header-logo {
    padding: 0 25px;
    width: 40px;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .header-links {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
