@use 'styles/common';

.header {
  @extend %fullwidth;
  @extend %rowflex;
  @extend %spacebetweencontent;
  height: 7vh;

  .header-logo {
    @extend %fullheight;
    padding: 0 25px;
    width: 40px;

    img {
      @extend %fullwidth;
      @extend %fullheight;
    }
  }

  .header-links {
    @extend %centeritems;
    @extend %fullheight;
    @extend %rowflex;
    @extend %flexendcontent;
    width: 50%;
  }
}
