@mixin animation($type, $sec) {
  -webkit-transition: $type $sec ease;
  -moz-transition: $type $sec ease;
  -o-transition: $type $sec ease;
  -ms-transition: $type $sec ease;
  transition: $type $sec ease;
}

@mixin animationwithdelay($type, $sec, $cd) {
  -webkit-transition: $type $sec ease $cd;
  -moz-transition: $type $sec ease $cd;
  -o-transition: $type $sec ease $cd;
  -ms-transition: $type $sec ease $cd;
  transition: $type $sec ease $cd;
}

@mixin flexeddiv($flexdirection, $justifycontent) {
  display: flex;
  flex-direction: $flexdirection;
  justify-content: $justifycontent;
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}

.card-userlist {
  @include setwidthandheight(100%, 100%);
  @include setborderwithradius(2px solid #609ae4, 52px);
  @include flexeddiv(column, flex-start);
  @include animation(all, 2s);
  align-items: center;
  background-color: #151527;

  .placeholder {
    @include setwidthandheight(100%, 46%);
    @include animation(all, 2s);
  }

  &.searched {
    @include flexeddiv(column, flex-start);
    overflow-y: hidden;

    .placeholder {
      height: 0;
    }

    .searchbar {
      @include setwidthandheight(100%, 8%);
      @include animation(all, 1s);
      border-radius: 0;
      border-top: 0px solid #609ae4;
      border-left: 0px solid #609ae4;
      border-right: 0px solid #609ae4;
      border-bottom: 2px solid #609ae4;

      .searchbar-image {
        margin-left: 3%;
      }

      .searchbar-query {
        width: 75%;

        input {
          width: 90%;
          color: #609ae4;
        }
      }
    }
  }

  .searchbar {
    @include setwidthandheight(90%, 50px);
    @include setborderwithradius(2px #609ae4 solid, 15px);
    @include animationwithdelay(all, 1s, 0.5s);
    text-align: center;
    display: flex;

    .searchbar-image {
      @include setwidthandheight(20%, 100%);
      @include animation(all, 2s);
      border-right: 1px solid #609ae4;
      -webkit-appearance: div;
      -moz-appearance: div;
      appearance: div;

      .searchbar-image-button {
        @include setwidthandheight(100%, 100%);
        background-color: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
      }
    }

    .searchbar-query {
      @include setwidthandheight(100%, 100%);
      @include animation(all, 2s);
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        @include setwidthandheight(90%, 65%);
        color: #609ae4;
        border: 0;
        font-size: x-large;
        outline: none;
        background-color: transparent;
      }
    }
  }

  .searchlist {
    @include setwidthandheight(100%, 0);
    @include animation(all, 1s);

    &.searched {
      @include animation(all, 1s);
      height: 100%;

      .searchlist-buttons {
        display: flex;
      }
    }

    .searchlist-buttons {
      @include setwidthandheight(100%, 10%);
      border-bottom: #609ae4 solid 2px;
      display: none;
      justify-content: space-around;
      color: white;

      .button {
        @include flexeddiv(column, center);
        width: 80px;
        cursor: pointer;
        margin: 5px 0px;
        border-radius: 8px;
        align-items: center;

        &:hover {
          color: pink;
        }

        &.selected {
          color: pink;
          font-weight: bold;
        }
      }
    }
    .searchlist-list {
      @include setwidthandheight(100%, 90%);
      color: white;

      .searchlist-users {
        overflow-y: auto;
        overflow-x: hidden;
        margin: 10px 0px;
        height: 80%;

        &::-webkit-scrollbar {
          @include setwidthandheight(12px, unset);
        }

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
          -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
          @include setborderwithradius(unset, 10px);
        }

        &::-webkit-scrollbar-thumb {
          box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
          -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
          @include setborderwithradius(unset, 10px);
        }

        .user-item {
          @include flexeddiv(row, space-between);
          padding: 10px 20px;
          border-bottom: 1px solid;
          cursor: pointer;
          height: 60px;

          &:hover {
            background-color: #609ae4;
          }

          .user-info {
            @include flexeddiv(column, space-around);
            width: 40%;
            .user {
              &.admin {
                color: pink;
              }
              &.subscribed {
                color: #94dadc;
              }
            }
          }

          .user-duration {
            width: 25%;
            text-align: right;
            vertical-align: middle;
            border-radius: 100%;
          }

          &:hover {
            .user-menu {
              display: flex;
            }
            .user-duration {
              display: none;
            }
          }

          .user-menu {
            @include setwidthandheight(fit-content, 60px);
            @include setborderwithradius(1px #94dadc solid, 5px);
            display: none;
            justify-content: flex-end;
            flex-direction: row;
            background-color: #94dadc;
            opacity: 0.8;
            padding-left: 2px;

            .user-menu-text {
              @include flexeddiv(column, center);
              height: 100%;
              max-width: 130px;
            }

            .user-menu-item {
              @include flexeddiv(column, center);
              width: 40px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: 80% 80%;
              color: white;
            }

            &:hover {
              background-color: pink;
              border: 1px pink solid;
            }
          }
        }
      }
    }
  }
}
