@use 'components/cards/card-styles.scss';
@use 'styles/common';
@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.card-music {
  @extend %card-primary-base;
  @extend %columnflex;
  @extend %spaceevenlycontent;

  .card-big-cover-container {
    @include mixins.setwidthandheight(230px, 230px);
    @include mixins.setborderwithradius(2px solid vars.$primcardcolor, 20px);
    @extend %hor-cent-block;
    @extend %centeredbackgroundwithnorepeat;
    overflow: hidden;
    background-size: 50% 50%;

    img {
      @extend %fullwidth;
      @extend %fullheight;
    }

    @media screen and (orientation: portrait) {
      @include mixins.setwidthandheight(140px, 140px);
    }
  }

  .card-big-controls {
    @extend %rowflex;
    @extend %spacearoundcontent;
    padding: 0 20px;
    vertical-align: middle;
    border-radius: 20%;

    .card-big-control {
      @include mixins.setwidthandheight(30%, 60px);
      @extend %rowflex;
      @extend %centercontent;
      vertical-align: middle;

      div {
        @extend %pointer;
        @extend %fullheight;
        @extend %centeredbackgroundwithnorepeat;
        width: 50%;
        background-size: 90% 90%;

        &:hover {
          background-size: 100% 100%;
        }
      }
    }
  }
}
