@use 'styles/mixins' as mixins;
@use 'styles/variables' as vars;

.card-music {
  @include mixins.setwidthandheight(100%, 100%);
  @include mixins.setborderwithradius(2px solid vars.$primcardcolor, 52px);
  @include mixins.flexeddiv(column, space-evenly);
  background-color: vars.$cardbackcolor;

  .card-big-cover-container {
    @include mixins.setwidthandheight(230px, 230px);
    @include mixins.setborderwithradius(2px solid vars.$primcardcolor, 20px);
    overflow: hidden;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;

    img {
      @include mixins.setwidthandheight(100%, 100%);
    }

    @media screen and (orientation: portrait) {
      @include mixins.setwidthandheight(140px, 140px);
    }
  }

  .card-big-controls {
    @include mixins.flexeddiv(row, space-around);
    padding: 0 20px;
    vertical-align: middle;
    border-radius: 20%;

    .card-big-control {
      @include mixins.setwidthandheight(30%, 60px);
      @include mixins.flexeddiv(row, center);
      vertical-align: middle;

      div {
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 90% 90%;
        background-position: center;
        cursor: pointer;

        &:hover {
          background-size: 100% 100%;
        }
      }
    }
  }
}
