@mixin animation($type, $sec, $delay: 0) {
  @if $delay == 0 {
    -webkit-transition: $type $sec;
    -moz-transition: $type $sec;
    -o-transition: $type $sec;
    -ms-transition: $type $sec;
    transition: $type $sec;
  } @else {
    -webkit-transition: $type $sec $delay;
    -moz-transition: $type $sec $delay;
    -o-transition: $type $sec $delay;
    -ms-transition: $type $sec $delay;
    transition: $type $sec $delay;
  }
}

@mixin flexeddiv($flexdirection, $justifycontent, $alignitems: unset) {
  display: flex;
  justify-content: $justifycontent;
  @if $flexdirection != row {
    flex-direction: $flexdirection;
  }
  @if $alignitems != unset {
    align-items: $alignitems;
  }
}

@mixin setwidthandheight($width, $height) {
  width: $width;
  height: $height;
}

@mixin setborderwithradius($border, $radius) {
  border: $border;
  border-radius: $radius;
}
